td{
    width: 2em;
    height:2em;
    background-color: grey;
    border:1px solid white;
    margin:1px;
}

.square{
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
}

.main-splash-image
{
    width:100%;
}

.play-now-btn{
    background:chartreuse;
    padding-top:50px;
    padding-bottom:50px;
    width: 100%;
    height: 50px;
    font-size: xx-large;
}
.splash-screen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position:fixed;
    width: 100%;
    height: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 9000;
    background:green;
}

.show-indicator{
    background-color: white;
}

.game-over {
    font-size: x-large;
    text-align: center;
    position:fixed;
    width: 280px;
    height: 25px;
    padding:40px;
    top: 17%;
    left:40%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 9000;
    background:rgb(175, 175, 175);
}

.game-win {
    font-size: x-large;
    top:17%;
    left:40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 280px;
    height: 25px;
    padding:40px;
    position: absolute;
    z-index: 9000;
    background:rgb(243, 88, 88);
}

.bomb{
    
    background-image: url(../image/bomb.png);
    background-size:100% 100%;
}

.squareback{
    background:grey;
}

.flag{
    background-image: url(../image/flag.png);
    background-size:100% 100%;
}